<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkyt.dga.mapper.TbBaseUnitMapper" >
  <resultMap id="BaseResultMap" type="com.zkyt.dga.pojo.TbBaseUnit" >
    <id column="id" property="id" />
    <result column="unitName" property="unitname" jdbcType="VARCHAR" />
    <result column="unitTelephone" property="unittelephone" jdbcType="VARCHAR" />
    <result column="unitAdddress" property="unitadddress" jdbcType="VARCHAR" />
    <result column="businessLicenseNo" property="businesslicenseno" jdbcType="VARCHAR" />
    <result column="legalName" property="legalname" jdbcType="VARCHAR" />
    <result column="legalTelephone" property="legaltelephone" jdbcType="VARCHAR" />
    <result column="legalIdCard" property="legalidcard" jdbcType="VARCHAR" />
    <result column="ActualOperator" property="actualoperator" jdbcType="VARCHAR" />
    <result column="industryCategory" property="industrycategory" jdbcType="VARCHAR" />
    <result column="businessScope" property="businessscope" jdbcType="VARCHAR" />
    <result column="startLicense" property="startlicense" jdbcType="VARCHAR" />
    <result column="endLicense" property="endlicense" jdbcType="VARCHAR" />
    <result column="taxNo" property="taxno" jdbcType="VARCHAR" />
    <result column="floorno" property="floorno"  />
    <result column="unitno" property="unitno"  />
    <result column="area" property="area"  />
    <result column="buildid" property="buildid"  />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, unitName, unitTelephone, unitAdddress, businessLicenseNo, legalName, legalTelephone, 
    legalIdCard, ActualOperator, industryCategory, businessScope, startLicense, endLicense, 
    taxNo,floorno,unitno,area,buildid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zkyt.dga.pojo.TbBaseUnitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_base_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_base_unit
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_base_unit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zkyt.dga.pojo.TbBaseUnitExample" >
    delete from tb_base_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zkyt.dga.pojo.TbBaseUnit" >
    insert into tb_base_unit (id, unitName, unitTelephone, 
      unitAdddress, businessLicenseNo, legalName, 
      legalTelephone, legalIdCard, ActualOperator, 
      industryCategory, businessScope, startLicense, 
      endLicense, taxNo,floorno,unitno,area,buildid)
    values (#{id}, #{unitname,jdbcType=VARCHAR}, #{unittelephone,jdbcType=VARCHAR}, 
      #{unitadddress,jdbcType=VARCHAR}, #{businesslicenseno,jdbcType=VARCHAR}, #{legalname,jdbcType=VARCHAR}, 
      #{legaltelephone,jdbcType=VARCHAR}, #{legalidcard,jdbcType=VARCHAR}, #{actualoperator,jdbcType=VARCHAR}, 
      #{industrycategory,jdbcType=VARCHAR}, #{businessscope,jdbcType=VARCHAR}, #{startlicense,jdbcType=VARCHAR}, 
      #{endlicense,jdbcType=VARCHAR}, #{taxno,jdbcType=VARCHAR},#{floorno},#{unitno},#{area},#{buildid})
  </insert>
  <insert id="insertSelective" parameterType="com.zkyt.dga.pojo.TbBaseUnit" >
    insert into tb_base_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="unitname != null" >
        unitName,
      </if>
      <if test="unittelephone != null" >
        unitTelephone,
      </if>
      <if test="unitadddress != null" >
        unitAdddress,
      </if>
      <if test="businesslicenseno != null" >
        businessLicenseNo,
      </if>
      <if test="legalname != null" >
        legalName,
      </if>
      <if test="legaltelephone != null" >
        legalTelephone,
      </if>
      <if test="legalidcard != null" >
        legalIdCard,
      </if>
      <if test="actualoperator != null" >
        ActualOperator,
      </if>
      <if test="industrycategory != null" >
        industryCategory,
      </if>
      <if test="businessscope != null" >
        businessScope,
      </if>
      <if test="startlicense != null" >
        startLicense,
      </if>
      <if test="endlicense != null" >
        endLicense,
      </if>
      <if test="taxno != null" >
        taxNo,
      </if>
      <if test="floorno != null" >
        floorno,
      </if>
      <if test="unitno != null" >
        unitno,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="buildid != null" >
        buildid,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="unittelephone != null" >
        #{unittelephone,jdbcType=VARCHAR},
      </if>
      <if test="unitadddress != null" >
        #{unitadddress,jdbcType=VARCHAR},
      </if>
      <if test="businesslicenseno != null" >
        #{businesslicenseno,jdbcType=VARCHAR},
      </if>
      <if test="legalname != null" >
        #{legalname,jdbcType=VARCHAR},
      </if>
      <if test="legaltelephone != null" >
        #{legaltelephone,jdbcType=VARCHAR},
      </if>
      <if test="legalidcard != null" >
        #{legalidcard,jdbcType=VARCHAR},
      </if>
      <if test="actualoperator != null" >
        #{actualoperator,jdbcType=VARCHAR},
      </if>
      <if test="industrycategory != null" >
        #{industrycategory,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        #{businessscope,jdbcType=VARCHAR},
      </if>
      <if test="startlicense != null" >
        #{startlicense,jdbcType=VARCHAR},
      </if>
      <if test="endlicense != null" >
        #{endlicense,jdbcType=VARCHAR},
      </if>
      <if test="taxno != null" >
        #{taxno,jdbcType=VARCHAR},
      </if>
      <if test="floorno != null" >
        floorno,
      </if>
      <if test="unitno != null" >
        unitno,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="buildid != null" >
        buildid,
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zkyt.dga.pojo.TbBaseUnitExample" resultType="java.lang.Integer" >
    select count(*) from tb_base_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_base_unit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.unitname != null" >
        unitName = #{record.unitname,jdbcType=VARCHAR},
      </if>
      <if test="record.unittelephone != null" >
        unitTelephone = #{record.unittelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.unitadddress != null" >
        unitAdddress = #{record.unitadddress,jdbcType=VARCHAR},
      </if>
      <if test="record.businesslicenseno != null" >
        businessLicenseNo = #{record.businesslicenseno,jdbcType=VARCHAR},
      </if>
      <if test="record.legalname != null" >
        legalName = #{record.legalname,jdbcType=VARCHAR},
      </if>
      <if test="record.legaltelephone != null" >
        legalTelephone = #{record.legaltelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.legalidcard != null" >
        legalIdCard = #{record.legalidcard,jdbcType=VARCHAR},
      </if>
      <if test="record.actualoperator != null" >
        ActualOperator = #{record.actualoperator,jdbcType=VARCHAR},
      </if>
      <if test="record.industrycategory != null" >
        industryCategory = #{record.industrycategory,jdbcType=VARCHAR},
      </if>
      <if test="record.businessscope != null" >
        businessScope = #{record.businessscope,jdbcType=VARCHAR},
      </if>
      <if test="record.startlicense != null" >
        startLicense = #{record.startlicense,jdbcType=VARCHAR},
      </if>
      <if test="record.endlicense != null" >
        endLicense = #{record.endlicense,jdbcType=VARCHAR},
      </if>
      <if test="record.taxno != null" >
        taxNo = #{record.taxno,jdbcType=VARCHAR},
      </if>
      <if test="record.floorno != null" >
        floorno = #{record.floorno},
      </if>
      <if test="record.unitno != null" >
        unitno = #{record.unitno},
      </if>
      <if test="record.area != null" >
        area = #{record.area},
      </if>
      <if test="record.buildid != null" >
        buildid = #{record.buildid},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_base_unit
    set id = #{record.id,jdbcType=VARCHAR},
      unitName = #{record.unitname,jdbcType=VARCHAR},
      unitTelephone = #{record.unittelephone,jdbcType=VARCHAR},
      unitAdddress = #{record.unitadddress,jdbcType=VARCHAR},
      businessLicenseNo = #{record.businesslicenseno,jdbcType=VARCHAR},
      legalName = #{record.legalname,jdbcType=VARCHAR},
      legalTelephone = #{record.legaltelephone,jdbcType=VARCHAR},
      legalIdCard = #{record.legalidcard,jdbcType=VARCHAR},
      ActualOperator = #{record.actualoperator,jdbcType=VARCHAR},
      industryCategory = #{record.industrycategory,jdbcType=VARCHAR},
      businessScope = #{record.businessscope,jdbcType=VARCHAR},
      startLicense = #{record.startlicense,jdbcType=VARCHAR},
      endLicense = #{record.endlicense,jdbcType=VARCHAR},
      taxNo = #{record.taxno,jdbcType=VARCHAR}
      floorno = #{record.floorno}
      unitno = #{record.unitno}
      area = #{record.area}
      buildid = #{record.buildid}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zkyt.dga.pojo.TbBaseUnit" >
    update tb_base_unit
    <set >
      <if test="unitname != null" >
        unitName = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="unittelephone != null" >
        unitTelephone = #{unittelephone,jdbcType=VARCHAR},
      </if>
      <if test="unitadddress != null" >
        unitAdddress = #{unitadddress,jdbcType=VARCHAR},
      </if>
      <if test="businesslicenseno != null" >
        businessLicenseNo = #{businesslicenseno,jdbcType=VARCHAR},
      </if>
      <if test="legalname != null" >
        legalName = #{legalname,jdbcType=VARCHAR},
      </if>
      <if test="legaltelephone != null" >
        legalTelephone = #{legaltelephone,jdbcType=VARCHAR},
      </if>
      <if test="legalidcard != null" >
        legalIdCard = #{legalidcard,jdbcType=VARCHAR},
      </if>
      <if test="actualoperator != null" >
        ActualOperator = #{actualoperator,jdbcType=VARCHAR},
      </if>
      <if test="industrycategory != null" >
        industryCategory = #{industrycategory,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        businessScope = #{businessscope,jdbcType=VARCHAR},
      </if>
      <if test="startlicense != null" >
        startLicense = #{startlicense,jdbcType=VARCHAR},
      </if>
      <if test="endlicense != null" >
        endLicense = #{endlicense,jdbcType=VARCHAR},
      </if>
      <if test="taxno != null" >
        taxNo = #{taxno,jdbcType=VARCHAR},
      </if>
      <if test="floorno != null" >
        floorno = #{floorno},
      </if>
      <if test="unitno != null" >
        unitno = #{unitno},
      </if>
      <if test="area != null" >
        area = #{area},
      </if>
      <if test="buildid != null" >
        buildid = #{buildid},
      </if>
      
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zkyt.dga.pojo.TbBaseUnit" >
    update tb_base_unit
    set unitName = #{unitname,jdbcType=VARCHAR},
      unitTelephone = #{unittelephone,jdbcType=VARCHAR},
      unitAdddress = #{unitadddress,jdbcType=VARCHAR},
      businessLicenseNo = #{businesslicenseno,jdbcType=VARCHAR},
      legalName = #{legalname,jdbcType=VARCHAR},
      legalTelephone = #{legaltelephone,jdbcType=VARCHAR},
      legalIdCard = #{legalidcard,jdbcType=VARCHAR},
      ActualOperator = #{actualoperator,jdbcType=VARCHAR},
      industryCategory = #{industrycategory,jdbcType=VARCHAR},
      businessScope = #{businessscope,jdbcType=VARCHAR},
      startLicense = #{startlicense,jdbcType=VARCHAR},
      endLicense = #{endlicense,jdbcType=VARCHAR},
      taxNo = #{taxno,jdbcType=VARCHAR}
      floorno = #{floorno}
      unitno = #{unitno}
      area = #{area}
      buildid = #{buildid}
    where id = #{id}
  </update>
  <select id="getTotalCount" parameterType="com.zkyt.dga.pojo.Query" resultType="integer">
  	select count(*) from tb_base_unit
  	<if test="buildid != null" >
   where buildid =#{buildid}
   </if>
  </select>
  <select id="findUnitList" parameterType="com.zkyt.dga.pojo.Query" resultMap="BaseResultMap">
	select id,unitName,unitTelephone,unitAdddress,businessLicenseNo,legalName,legalTelephone,legalIdCard,ActualOperator,industryCategory,businessScope,startLicense,endLicense,taxNo,floorno,unitno ,area,buildid from tb_base_unit 
  	<if test="buildid != null" >
   where buildid =#{buildid}
   </if>
  	<if test="startRow != null">
  		limit #{startRow},#{pageSize}
  	</if>
  </select>
  <select id="findUnitAll" parameterType="com.zkyt.dga.pojo.Query" resultMap="BaseResultMap">
	select id,unitName,unitTelephone,unitAdddress,businessLicenseNo,legalName,legalTelephone,legalIdCard,ActualOperator,industryCategory,businessScope,startLicense,endLicense,taxNo,floorno,unitno ,area,buildid from tb_base_unit 
  	<if test="buildid != null" >
   where buildid =#{buildid}
   </if>
  </select>
</mapper>